body
{
  background-color: pink;
}

p.bio
{
  background-color: blue;
  color: white;
  font: arial;
  font-size: 16pt;
}

a
{
  background-color: red;
  color: purple;
}

a:hover
{
  background-color: purple;
  color: white;
}
